.calculator
{
    width: 220px;
    background-color: grey;
    border-radius: 5px;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
}
h1
{
    color: white;
}
#display
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid black;
    font-size: 15px;
}
.btn
{
    width: 51px;
    height: 51px;
    border-radius: 50%;
    border: 0;
    margin-bottom: 10px;
}
button
{
    font-size: 20px;
}
